<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="partials/head :: head('Create Event')">
        <meta charset="UTF-8">
        <title>Create Event</title>
    </head>

    <body onload="document.createevent.name.focus()">
        <nav th:replace="partials/navbar :: nav"></nav>
    <!--<div th:replace="partials/expand-nav :: navigation"></div>-->

        <main>
            <div class="event">
                <div class="u-margin-bottom-md u-center-text">
                    <h2 class="heading-primary--sub">Add an Event:</h2>
                </div>
                <div class="event-box">
                    <!-- Map -->
                    <div class="col-event-2">
                        <div class="event__input">
                            <div class="map__input--map-btn" id="floating-pane">
                                <input class="u-margin-right-sm" id="address" type="textbox" placeholder="Enter a location" />
                                <input id="submit" class="btn btn--white" type="button" value="View Location" />
                            </div>
                            <span th:text="${location}" hidden id="location"></span>
                            <div id="map">Map</div>
                        </div>
                    </div>

                    <div class="col-event-1">
                        <div class="event__input">
                            <form class="" name="createevent" th:action="@{/events/create}" th:method="post" th:object="${event}">
                                <input type="hidden" th:field="*{user}">
                                    <label for="name" class="event__label"><h4>Event Title:</h4></label>
                                    <input type="text" th:field="*{name}" name="name" id="name" class="event__input"/>
                                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
                                    <br />
                                    <label class="event__label" for="description"><h4>Event Description:</h4></label>
                                    <textarea th:field="*{description}" name="description" id="description" class="event__input-long" ></textarea>
                                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
                                    <br />
                                    <label class="event__label" for="date"><h4>Event Date:</h4></label>
                                    <input type="date" th:field="*{date}" name="date" id="date" class="event__input" />
                                    <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}" />
                                    <br />
                                    <label class="event__label" for="zipcode"><h4>Event Zipcode:</h4></label>
                                    <input type="text" th:field="*{zipcode}" name="date" id="zipcode" class="event__input" />
                                    <p th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}" />
                                    <br />
                            <!--    Radio buttons for categories-->
                                <h4>Select Event Category: </h4>
                                <div class="form-check" th:each="category : ${categories}">
                                    <input class="form-check-input" th:value="${category.id}" type="radio" name="eventCategories" th:id="${category.id}">
                                    <label class="form-check-label" th:for="${category.id}" th:text=" ${category.name}"></label>
                                </div>
                            <!-- lons & lats for mapt -->
                                <input type="hidden" id="lat" value="" th:field="*{lat}">
                                <input type="hidden" id="lon" value="" th:field="*{lon}">
                            <!-- Add Flyer -->
                                    <div>
                                        <input type="hidden" id="image" th:field="*{filePath}">
                                        <button class="btn btn--white " id="imageButton">Add Flyer Image</button>
                                        <img class="poi-img event__single--image" id="imagePreview" src="" alt="">
                                    </div>

                            <!-- Submit button -->
                                <div class="u-margin-top-sm">
                                    <input class="btn btn--white" type="submit" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div th:include="partials/footer :: footer"></div>
        <script src="/js/keys.js"></script>
        <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        <script src="/js/filestack.js"></script>
        <script src="/js/createEvent.js"></script>
        <div th:include="partials/scripts :: scripts"></div>

    </body>

</html>