<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="partials/head :: head('Create Event')">
        <meta charset="UTF-8">
        <title>Create Event</title>
    </head>

    <body onload="document.createevent.name.focus()">
        <nav sec:authorize="isAuthenticated()" th:replace="partials/navB :: nav"></nav>
        <nav sec:authorize="!isAuthenticated()" th:replace="partials/navA :: nav"></nav>

        <main class="event">
            <div class="u-margin-bottom-md u-center-text">
                <h2 class="heading-primary--sub">Add an Event</h2>
            </div>
            <div class="event-box">
                <!-- Map -->
                <div class="col-event-2">
                    <div class="event__input">
                        <div class="event__location">
                            <form name="locationbox">
                                <div id="floating-panel">
                                    <input class="map__input--textbox u-margin-right-sm" name="locationinput" id="address" type="textbox" placeholder=" Enter a location" />
                                    <input class="btn btn--map" id="submit" type="button" value="View Location" />
                                </div>
                            </form>
                        </div>
                        <div id="map">Map</div>
                    </div>
                </div>
                <!-- Input fields -->
                <div class="col-event-1">
                    <div class="event__input">
                        <h3>Event Information</h3>
                        <form class="" name="createevent" th:action="@{/events/create}" th:method="post" th:object="${event}">
                            <input type="hidden" th:field="*{user}">

                                <input type="text" th:field="*{name}" name="name" id="name" placeholder="Title" class="event__input"/>
                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
                                <br />

                                <textarea th:field="*{description}" name="description" id="description" placeholder="Description" class="event__input-long" maxlength="2500"></textarea>
                                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
                                <br />

                                <input type="date" th:field="*{date}" name="date" id="date" class="event__input" />
                                <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}" />
                                <br />

                                <input type="text" th:field="*{zipcode}" name="date" id="zipcode" placeholder="Zipcode" class="event__input" />
                                <p th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}" />
                                <br />
                            <!--    Radio buttons for categories-->
                            <h4>Select Event Category: </h4>
                            <div class="form-check" th:each="category : ${categories}">
                                <input class="form-check-input" th:value="${category.id}" type="radio" name="eventCategories" th:id="${category.id}">
                                <label class="form-check-label" th:for="${category.id}" th:text=" ${category.name}"></label>
                            </div>
                            <br />
                            <!-- lons & lats for mapt -->
                            <input type="hidden" id="lat" value="" th:field="*{lat}">
                            <input type="hidden" id="lon" value="" th:field="*{lon}">
                            <!-- Add Flyer -->
                                <div>
                                    <input type="hidden" id="image" th:field="*{filePath}">
                                    <button class="btn btn--white " id="imageButton">Add Flyer Image</button>
                                    <img class="poi-img event__single--image" id="imagePreview" src="" alt="">
                                </div>

                            <!-- Submit changes / cancel buttons -->
                            <div class="control u-right-align">
                                <input class="btn btn--white center-y center-x paragraph" type="submit" value="Save">
                                <a class="btn btn--green paragraph center-y" href="/events" >Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <div th:include="partials/footer :: footer"></div>
        <script src="/js/keys.js"></script>
        <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        <script src="/js/filestack.js"></script>
        <script src="/js/createEvent.js"></script>
        <div th:include="partials/scripts :: scripts"></div>

    </body>

</html>