<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="partials/head :: head('Edit Event')">
        <meta charset="UTF-8">
        <title>Edit Event</title>
    </head>

    <body onload="document.editevent.name.focus()">
        <nav sec:authorize="isAuthenticated()" th:replace="partials/navB :: nav"></nav>
        <nav sec:authorize="!isAuthenticated()" th:replace="partials/navA :: nav"></nav>

        <main class="event">

            <div class="bg-image">
                <img class="bg-image__content" src="/images/topo-bg.jpg" alt="">
            </div>

            <div class="event__heading u-padding-top-md u-margin-bottom-md u-center-text">
                <h2 class="heading-primary--sub">Edit Event</h2>
            </div>
            <div class="event-box">
                <!-- Map -->
                <div class="col-event-2">
                    <div class="event__input">
                        <div class="event__location">
                            <form name="locationbox">
                                <div id="floating-panel">
                                    <input class="map__input--textbox u-margin-right-sm" name="locationinput" id="address" type="textbox" placeholder=" Enter a location" />
                                    <input class="btn btn--map" id="submit" type="button" value="View Location" />
                                </div>
                            </form>
                        </div>
                        <div id="map">Map</div>
                    </div>
                </div>
                <!-- Input fields -->
                <div class="col-event-1">
                    <div class="event__input">
                        <h3>Event Information</h3>
                        <form name="editevent" th:action="@{'/event/' + ${eventToEdit.id} + '/edit'}" th:method="post" th:object="${eventToEdit}">
                            <!-- Input fields -->
                            <input type="hidden" th:field="${eventToEdit}">
                            <input type="hidden" th:field="${eventToEdit.user.id}">

                            <input class="event__input paragraph" type="text" th:field="${eventToEdit.name}" name="name" id="name" />

                            <textarea class="event__input paragraph" th:field="${eventToEdit.description}" name="description" id="description" maxlength="2500"></textarea>

                            <input class="event__input paragraph" type="date" th:field="${eventToEdit.date}" name="date" id="date" />

                            <input class="event__input paragraph" type="text" th:field="${eventToEdit.zipcode}" name="date" id="zipcode" />

                        <br />

                        <!--    Radio buttons for categories-->
                            <h4>Select Event Category: </h4>
                            <div class="form-check" th:each="category : ${categories}">
                                <input type="radio" th:field="*{eventCategories}" th:value="${category.id}" th:text=" ${category.name}" />
                            </div>
                            <br />
                        <!-- Current and updated flyer -->
                            <div class="image-stack">
                                <div class="image-stack__item--top">
                                    <img class="event__card--image-edit poi-img" th:if="${eventToEdit.filePath != ''}" th:src="${eventToEdit.filePath}" alt="Event Flyer" />
                                    <img class="event__card--image-edit poi-img" th:if="${eventToEdit.filePath == ''}" src="/images/placeholders/event.png" alt="placeholder event image"/>
                                </div>


                                <div class="image-stack__item--bottom">
                                    <label for="newImage"><img class="poi-img event__card--image-edit" id="imagePreview" src="" alt=""></label>
                                    <input type="hidden" id="newImage" th:field="${eventToEdit.filePath}" th:value="${eventToEdit.filePath}" name="filePath">
                                </div>
                            </div>

                            <div class="u-center-text u-margin-top-md">
                                <button class="btn btn--white" id="imageButton">Add/Change Flyer</button>
                            </div>
                            <!-- lons & lats for mapt -->
                            <input type="hidden" id="lat" value="" th:field="${eventToEdit.lat}">
                            <input type="hidden" id="lon" value="" th:field="${eventToEdit.lon}">

                            <!-- Submit changes / cancel buttons -->
                            <!-- Submit changes / cancel buttons -->
                            <div class="control u-right-align u-margin-top-sm">
                                <input class="btn btn--white center-y center-x paragraph" type="submit" value="Save">
                                <a class="btn btn--green paragraph center-y" href="/profile" >Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <div th:include="partials/footer :: footer"></div>
        <script src="/js/keys.js"></script>
        <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        <script src="/js/filestack.js"></script>
        <div th:include="partials/scripts :: scripts"></div>
        <script src="/js/editEvent.js"></script>
    </body>

</html>