<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="partials/head :: head('Events')">
        <meta charset="UTF-8">
        <title>Events</title>
    </head>

    <body onload="document.editevent.name.focus()">
        <nav th:replace="partials/navbar :: nav"></nav>
    <!--<div th:replace="partials/expand-nav :: navigation"></div>-->

        <main>
            <div class="event">
                <div class="event-box">
                    <div class="form">

                        <form name="editevent" th:action="@{'/event/' + ${eventToEdit.id} + '/edit'}" th:method="post" th:object="${event}">
                            <div class="u-margin-bottom-md u-center-text">
                                <h2 class="heading-tertiary">Edit Event:</h2>
                            </div>

                            <div class="row">
                                <div class="col-1-of-2">
                                    <!-- Input fields -->
                                    <input type="hidden" th:field="${eventToEdit}">
                                    <input type="hidden" th:field="${eventToEdit.user.id}">
                                    <div class="u-left-align">
                                        <label class="form__label--edit-event paragraph" for="name"><h4>Event Title:</h4></label>
                                        <input class="form__input--edit-event paragraph" type="text" th:field="${eventToEdit.name}" name="name" id="name"/>
                                    </div>

                                    <div class="u-left-align">
                                        <label class="form__label--edit-event paragraph" for="description"><h4>Event Description:</h4></label>
                                        <textarea class="form__input--edit-event paragraph" th:field="${eventToEdit.description}" name="description" id="description" ></textarea>
                                    </div>

                                    <div class="u-left-align">
                                        <label class="form__label--edit-event paragraph" for="date"><h4>Event Date:</h4></label>
                                        <input class="form__input--edit-event paragraph" type="date" th:field="${eventToEdit.date}" name="date" id="date" />
                                    </div>

                                    <div class="u-left-align">
                                        <label class="form__label--edit-event paragraph" for="zipcode"><h4>Event Zipcode:</h4></label>
                                        <input class="form__input--edit-event paragraph" type="text" th:field="${eventToEdit.zipcode}" name="date" id="zipcode" />
                                    </div>

                                    <div class="event__input">
                                    <!--    Radio buttons for categories-->
                                        <h4>Select Event Category: </h4>
                                        <div class="form-check" th:each="category : ${categories}">
                                            <input class="form-check-input" th:value="${category.id}" type="radio" name="eventCategories" th:id="${category.id}">
                                            <label class="form-check-label" th:for="${category.id}" th:text=" ${category.name}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Current and updated flyer -->
                                <div class="col-1-of-2 u-center-text u-margin-top-sm">
                                    <div class="image-stack">
                                        <div class="image-stack__item--top">
                                            <img class="event__card--image-edit" th:src="${eventToEdit.filePath}" alt="Event Flyer" />
                                        </div>

                                        <div class="image-stack__item--bottom">
                                            <label for="newImage"><img class="poi-img event__card--image-edit" id="imagePreview" src="" alt=""></label>
                                            <input type="hidden" id="newImage" th:field="${eventToEdit.filePath}" th:value="${eventToEdit.filePath}" name="filePath">
                                        </div>
                                    </div>

                                    <div class="u-center-text u-margin-top-md">
                                        <button class="btn" id="imageButton">Add/Change Flyer</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Submit changes / cancel buttons -->
                            <div class="u-center-text u-margin-top-sm">
                                <input class="btn btn--white u-margin-y-md" type="submit" value="Update"/>
                                <a class="btn btn--green u-margin-y-md" href="/profile">Cancel</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </main>

        <div th:include="partials/footer :: footer"></div>

        <script src="/js/keys.js"></script>
        <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        <script src="/js/filestack.js"></script>
        <div th:include="partials/scripts :: scripts"></div>

    </body>

</html>