<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="partials/head :: head('Events')">
        <meta charset="UTF-8">
        <title>Events</title>
    </head>

    <body onload="document.locationbox.locationinput.focus()">
        <nav sec:authorize="isAuthenticated()" th:replace="partials/navB :: nav"></nav>
        <nav sec:authorize="!isAuthenticated()" th:replace="partials/navA :: nav"></nav>
        <img class="map__bg" src="/images/topo-bg.jpg" alt="">

        <main class="poi">
            <div class="event__heading">
                <h1 class="heading-primary--sub">All Events</h1>
                <div>
                    <p sec:authorize="!isAuthenticated()" class="paragraph">Have an event to share? Please <a th:href="@{/login}">Login</a> or
                        <a th:href="@{/register}">Register</a>.</p>
                    <a sec:authorize="isAuthenticated()" class="btn btn--green u-margin-bottom-sm" th:href="@{/events/create}">Add an Event</a>
                </div>
            </div>
            <section class="poi-box">
                <div class="event__location">
                    <form name="locationbox">
                        <div id="floating-panel">
                            <input class="map__input--textbox u-margin-right-sm" name="locationinput" id="address" type="textbox" placeholder="Enter a location" />
                            <input class="btn btn--map" id="submit" type="button" value="View Location" />
                        </div>
                    </form>
                </div>
                <span th:text="${location}" hidden id="location"></span>
                <div id="map"></div>
            </section>

        </main>

        <div th:include="partials/footer :: footer"></div>
        <div th:include="partials/scripts :: scripts"></div>
        <script src="/js/allEvents.js"></script>

    </body>

</html>
