<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="partials/head :: head('All Events')">
        <meta charset="UTF-8">
        <title>Events</title>
    </head>

    <body>
        <nav th:replace="partials/navbar :: nav"></nav>
        <!--<div th:replace="partials/expand-nav :: navigation"></div>-->

        <main class="event">
            <p class="heading-secondary">Events</p>

            <div>
                <h3 class="heading-tertiary" th:if="${events.isEmpty()}">No Events Found</h3>
                <a class="btn btn--green" th:href="@{/events/create}">Add an Event</a>
            </div>

            <section class="event-box u-margin-top-sm">
                <div id="map"></div>
            </section>
        </main>

        <div th:include="partials/footer :: footer"></div>
        <div th:include="partials/scripts :: scripts"></div>

    </body>

</html>

