/* Error: Undefined variable.
 *    ,
 * 29 |                 background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
 *    |                                                                    ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   components/_cards.scss 29:68  @import
 *   style.scss 13:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 29 \2502                  background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);\a    \2502                                                                     ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   components/_cards.scss 29:68  @import\a   style.scss 13:9               root stylesheet";
}
