<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
    <!-- Navbar w/out search logged out -->
    <nav th:fragment="navA" class="navbar navbar-expand-lg navbar-light bg-light paragraph">
        <a class="navbar-brand u-margin-y-sm" href="/"><img src="/images/compass-rose.jpeg" alt="Sidecar" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/routes">Routes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/points">POIs</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/events">Events</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link mr-3" href="/register">Register</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link u-margin-right-sm" href="/login" tabindex="-1" >Login</a>
                </li>
            </ul>
        </div>
    </nav>
    </body>

</html>