<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/head :: head('Add a POI')">
    <meta charset="UTF-8">
    <title>Add a POI</title>
</head>

<body onload="document.createpoint.name.focus()">
<nav th:replace="partials/navbar :: nav"></nav>
<!--<div th:replace="partials/expand-nav :: navigation"></div>-->

<main>
    <div class="poi">
        <div class="u-margin-bottom-md u-center-text">
            <h2 class="heading-primary--sub">Add a Point of Interest:</h2>
        </div>
        <div class="poi-box">
            <div class="col-poi-2">
                <div class="poi__input">
                    <div class="map__input--map-btn" id="floating-pane">
                        <input class="u-margin-right-sm" id="address" type="textbox" placeholder="Enter a location" />
                        <input id="submit" class="btn btn--white" type="button" value="View Location" />
                    </div>
                    <span th:text="${location}" hidden id="location"></span>
                    <div id="map">Map</div>
                </div>
            </div>
            <div class="col-poi-1">
                <div class="poi__input">

                    <h3>Location Data</h3>
                    <form name="createpoint" th:action="@{/points/create}" th:method="post" th:object="${poi}" class="poi-data">

                        <input class="poi__input" type="text"  th:field="*{name}" id="name" name="name" placeholder="Title">
                        <br />

                        <input class="poi__input-long" type="text" id="description" name="description" placeholder="Description" >
                        <br />

                        <h4>Select Category: </h4>
                        <div class="form-check">
                            <input class="form-check-input" th:field="*{category}" th:value="bar" type="radio" name="category" id="bar">
                            <label class="form-check-label" for="bar">
                                Bar
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" th:field="*{category}" th:value="restaurant" type="radio" name="category" id="restaurant">
                            <label class="form-check-label" for="restaurant">
                                Restaurant
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" th:field="*{category}" th:value="scenic_view" type="radio" name="category" id="scenic_view">
                            <label class="form-check-label" for="scenic_view">
                                Scenic View
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" th:field="*{category}" th:value="repair_shop" type="radio" name="category" id="repair_shop">
                            <label class="form-check-label" for="repair_shop">
                                Repair Shop
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" th:field="*{category}" th:value="motorcycle_shop" type="radio" name="category" id="motorcycle_shop">
                            <label class="form-check-label" for="motorcycle_shop">
                                Dealership / Motorcycle Sales
                            </label>
                        </div>
                        <div class="form-check u-margin-bottom-sm">
                            <input class="form-check-input" th:field="*{category}" th:value="other" type="radio" name="category" id="other">
                            <label class="form-check-label" for="other">
                                Other
                            </label>
                        </div>

                        <!-- lons & lats for mapt -->
                        <input type="hidden" id="lat" value="" th:field="*{lat}">
                        <input type="hidden" id="lon" value="" th:field="*{lon}">
                        <!-- Add Image -->
                        <div>
                            <input type="hidden" id="image" th:field="*{photo_url}">
                            <button class="btn btn--white" id="imageButton">Add a Picture</button>
                            <img class="poi-img" id="imagePreview" src="" alt="">
                        </div>

                        <!-- Submit button -->
                        <div class="u-margin-top-sm">
                            <input class="btn btn--white" type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/keys.js"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/js/filestack.js"></script>
<script src="/js/createPOI.js"></script>
<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>

</body>

</html>