<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Points of Interest')">

    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<!--    <nav th:replace="partials/navbar :: nav"></nav>-->
<div th:replace="partials/expand-nav :: navigation"></div>

<main class="row w-100">
    <div class="col-md-3" sec:authorize="isAuthenticated()">
        <div class="btn btn-white"><a th:href="@{/points/create}">Add a Point of Interest</a></div>
    </div>
    <div class="col-md-9">
        <h4>Find a Point of Interest</h4>
        <div id="floating-panel">
            <input id="address" type="textbox" placeholder="Enter a location" />
            <input id="submit" type="button" value="View Location" />
        </div>
        <div id="map"></div>
    </div>
</main>
<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
<script src="/js/allPOIs.js"></script>
</body>
</html>