<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="partials/head :: head('Points of Interest')">
        <meta charset="UTF-8">
        <title>Index</title>
    </head>

    <body onload="document.locationbox.locationinput.focus()">
        <nav th:replace="partials/navbar :: nav"></nav>
    <!--<div th:replace="partials/expand-nav :: navigation"></div>-->

        <main class="poi">
            <div class="">
                <div class="btn"><a th:href="@{/points/create}">Add a Point of Interest</a></div>
            </div>
            <section class="poi-box">
                <div class="poi__location">
                    <h4>Find a Point of Interest</h4>
                    <div id="floating-panel">
                        <form name="locationbox">
                        <input name="locationinput" id="address" type="textbox" placeholder="Enter a location" />
                        <input id="submit" type="button" value="View Location" />
                        </form>
                    </div>
                </div>

                <div class="poi__map">
                    <div id="map"></div>
                </div>
            </section>
        </main>

        <div th:include="partials/footer :: footer"></div>
        <div th:include="partials/scripts :: scripts"></div>
        <script src="/js/allPOIs.js"></script>

    </body>

</html>