.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
    @include respond(tab-port) {
        visibility: hidden;
    }
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .3;
    overflow: hidden;
    @include respond(tab-port) {
        visibility: hidden;
    }
    &__content {
        height: 100%;
        width: 100%;
        //object-fit: fill;
    }
}
.bg-wht{
    background-color: rgba($color-white, .9);
    width: 100%;
    padding: .5rem 0;
    margin: auto;
}
.bg-about {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
    overflow: hidden;
    @include respond(tab-port) {
        visibility: hidden;
    }
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.bg-error {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: -1;
    opacity: .9;
    overflow: hidden;
    @include respond(tab-port) {
        visibility: hidden;
    }

    &__content {
        z-index: 1;
        background-color: rgba($color-white, .8);
        position: absolute;
        top: 40%;
        left: 5%;
        object-fit: cover;
    }
}