.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 3.5rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        @include respond(nav-collapse) {
            padding: 1rem 2.5rem;
        }
        @include respond(tab-port) {
            padding: .5rem 1.5rem;
        }
        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    &-nav {
        border: none !important;
        background-color: transparent !important;
    }
    &-edit {
        border-radius: 3px !important;
        padding: .5rem !important;
        margin: 1rem 0;
        color: $color-white;
        background-color: rgba($color-primary-dark, .3);
        border: $color-gray-dark solid .5px !important;
    }
    &-delete {
        border-radius: 3px !important;
        padding: .5rem !important;
        margin: 1rem 0;
        color: $color-white;
        background-color: rgba($color-delete, .3);
        border: $color-delete-dark solid .5px !important;
    }
    &--animated {
        animation-name: moveInBottom;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        animation-delay: .5s;
        animation-fill-mode: backwards;
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    &--white {
        background-color: $color-white;
        color: $color-gray-dark;

        &::after {
            background-color: $color-primary;
        }
    }
    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }
    &--map {
        background-color: $color-white;
        color: $color-gray-dark;
        font-size: 1.4rem;
        padding: .5rem 2rem;
        &::after {
            background-color: $color-primary;
        }
    }
    &--clearMap {
        background-color: $color-tertiary-light;
        font-size: $default-font-size;
    }
    &--seeRoute {
        background-color: #4E9F66;
        color: $color-white;
        font-size: $default-font-size;
    }
    &--light {
        background-color: $color-primary-light;
        color: $color-black;

        &::after {
            background-color: $color-primary;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }


    &text-light {
        &:link,
        &:visited {
            font-size: $default-font-size;
            color: $color-primary-light;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid $color-primary;
            padding: 3px;
            transition: all .2s;
        }
        &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-2px);
        }
        &:active {
            box-shadow: 0 .5rem 2rem rgba($color-black, .15);
            transform: translateY(0);
        }
    }
    &-text {
        &:link,
        &:visited {
            font-size: $default-font-size;
            color: $color-primary;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid $color-primary;
            padding: 3px;
            transition: all .2s;
        }
        &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-2px);
        }
        &:active {
            box-shadow: 0 .5rem 2rem rgba($color-black, .15);
            transform: translateY(0);
        }
    }
    &-sm {
        background-color: transparent;
        padding: 0;
        border-radius: 5px;
    }
}