.event {
  max-width: 95%;
  margin: 5rem auto;

  &-box {
    padding: 3rem;
    background-color: $color-primary-light;
    height: 100%;
    display: flex;
    overflow: auto;
    margin-bottom: 3rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    & form {
      width: 100%;
    }
    @include respond(tab-land){
      width: 100%;
      padding: 1.5rem 0;
      margin: 2rem auto;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;

    @include respond(tab-land){
      width: 100%;
      margin: 2rem auto;
    }
  }

  &__card {
    padding: 2rem;
    width: 32%;
    background-color: $color-white;
    max-height: 25em;
    flex-direction: row;
    color: $color-gray-darker;
    border: $color-gray-dark solid 1px;
    border-radius: .5em;
    @include respond(tab-port) {
      width: 100%;
    }
    [class^="col-"]{
      float: left;
      &:not(:last-child) {
        margin-right: $gutter-small;

        @include respond(tab-land) {
          margin-right: 0;
          margin-bottom: $gutter-vertical-sm;
        }
      }
      @include respond(tab-land) {
        width: 100% !important;
      }
    }
    &:not(:last-child) {
      margin-right: 1em;
      margin-bottom: 1em;
      @include respond(tab-port) {
        width: 100%;
      }
    }
    &--image {
      margin: 1rem;
      max-height: 20em;
      max-width: 13em;
      border-radius: .5em;
    }

    &-data {
      display: flex;
      flex-direction: column;
    }
  }
  &__single {
    padding: 3rem;
    background-color: $color-primary-light;

    &--image {
      margin: 1rem;
      max-height: 20em;
      max-width: 13em;
      border-radius: .5em;
    }
    &--title {
      font-size: $font-size-larger;
    }
    &--text {
      font-size: $default-font-size;
    }
  }

    &--text-col {
      width: calc((100% - 2 * #{$gutter-small}) / 3) + #{$gutter-small};
    }
    &--image-col {
      width: calc((100% - 2 * #{$gutter-small}) / 3);
    }
    &--image {
      margin: 1rem;
      max-height: 20em;
      max-width: 13em;
      border-radius: .5em;
      &-edit {
        max-height: 25em;
        border-radius: .5em;
      }
    }
    &--title{
      margin-top: 1rem;
      margin-left: 2rem;
      font-size: $default-font-size;
      text-transform: uppercase;
    }
    &--text {
      font-size: $default-font-size;
      margin-left: 2rem;
    }


  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  @include clearfix;
  [class^="col-"]{
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__submit {
    margin: 5rem;
    position: fixed;
    right: 6rem;
    border: .5px solid #3F3622;
  }
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
    &--map-btn {
      display: flex;
      flex-direction: row;
      padding: 1rem 2rem;
      & .btn-lt {
        height: 3rem;
        padding: .5rem;
        margin-right: auto;
      }
      & .btn-rt {
        height: 3rem;
        padding: .5rem;
        margin-left: auto;
      }
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;

    }
    &::-webkit-input-placeholder {
      color: $color-gray-darker;
    }
    &-long {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rgba($color-white, .5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 100%;
      min-height: 15rem;
      display: block;
      text-wrap: normal;
      transition: all .3s;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $color-primary;
      }

      &:focus:invalid {
        border-bottom: 3px solid $color-secondary-dark;

      }
      &::-webkit-input-placeholder {
        color: $color-gray-darker;
      }
    }
  }
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
.col-event {
  position: relative;
}
.col-card-image {
  width: calc((100% - 2 * #{$gutter-horizontal}) / 3);

}
.col-card-text {
  width: calc(2* ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});

}
.col-event-1 {
  width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
}
.col-event-2 {
  width: calc(2* ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
}