.poi {
  width: 100%;
  //margin: 5rem auto;



  @include respond(tab-port) {
    max-width: 75rem;
    padding: 0 2rem;
  }

  @include respond(phone) {
    max-width: 60rem;
    padding: 0 2rem;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-sm;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  &-img {
    height: 20rem;
  }
  &__heading {
    margin: 0 1rem 0;
  }
  &-box {
    padding: 2rem 2rem 3rem;
    background-image: linear-gradient(
                    to right bottom,
                    $color-primary-light,
                    $color-primary-dark);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 0 1rem 3rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    @include respond(nav-collapse) {
      padding: 1.5rem;
    }
    @include respond(tab-port) {
      padding: 1rem;
    }
  }

  &__map {
    height: 100%;
  }

  &__info {
    padding-right: 3rem;
    flex-direction: column;
    &-img {
      max-width: 90%;
    }
    &-text {
      font-size: $default-font-size;
      margin-top: 2em;
    }

  }

  &__location{
    width: 95%;
    margin: 0 auto 1rem;
    justify-content: left;
    @include respond(tab-port){
      width: 75%;
    }

  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;
    @include respond(tab-port){
      padding: .5rem 1rem;
    }
    &--map-btn {
      display: flex;
      flex-direction: row;
      padding: 1rem 2rem;
      @include respond(tab-port){
        padding: .5rem 1rem;
      }
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;

    }
    &::-webkit-input-placeholder {
      color: $color-gray-darker;
    }
    &-long {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rgba($color-white, .5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 100%;
      min-height: 20rem;
      display: block;
      transition: all .3s;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $color-primary;
      }

      &:focus:invalid {
        border-bottom: 3px solid $color-secondary-dark;

      }
      &::-webkit-input-placeholder {
        color: $color-gray-darker;
      }
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__card {

    &--image {
      margin: 1rem;
      max-height: 20em;
      max-width: 90% !important;
      border-radius: .5em;
    }
  }
}
.col-poi-1 {
  width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
}
.col-poi-2 {
  width: calc(2* ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
}
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}