.profile {
  width: 98%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 3rem;
  font-size: $default-font-size;
  //transform: skewX(-12deg);
  position: relative;
  &-edit {
    margin: 3rem;
    padding: 3rem;
  }
  &-box:not(:last-child) {
    padding-bottom: 3rem;
  }
  &__info {
    margin-left: 3rem;
  }
  &__table--col{
    min-width: 15rem;
    @include respond(tab-port) {
      min-width: 10rem;
    }
  }
  //description column
  &__table--colD{
    width: 100%;
    @include respond(phone) {
      display: none;
    }
  }
  //button column
  &__table--colB{
    min-width: 10rem;
    @include respond(tab-port) {
      min-width: 6rem;
    }
  }
  figure {
    margin: 0;
  }
  &__shape {
    width: 16rem;
    height: 16rem;
    background-color: $color-gray-darkest;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
  }
  &__image {
    height: 100%;
  }

  &__text {
    padding-left: 1rem;
  }

}
.profile-img {
  margin: auto;
  border-radius: 50%;
  padding: 5rem;
  width: 30rem;
  &-edit {
    width: 30rem;
    padding-bottom: 2rem;
  }
}
.image-stack {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
  margin: auto;
  &__item--top {
    max-width: 30rem;
    grid-column: 2 / span 1;
    grid-row: 1;
    padding: 0;
  }
  &__item--bottom {
    max-width: 30rem;
    grid-column: 2 / span 1;
    grid-row: 1;
    z-index: 1;
  }
}