<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Edit Profile')">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Edit Profile</title>
    </head>
<body>
    <nav th:replace="partials/navbar :: nav"></nav>
<!--<div th:replace="partials/expand-nav :: navigation"></div>-->
<main>

    <div class="section-profile-edit">
        <div class="box">
            <div class="row">
                <form class="w-100" th:action="@{'/user/' + ${userToEdit.id} +'/edit'}" method="POST" th:object="${user}">
                    <div class="col-1-of-2 u-center-text">
                        <div class="u-margin-bottom-md">
                            <h2 class="">Edit Profile:</h2>
                        </div>

                            <input type="hidden" th:field="${userToEdit.id}" th:value="${userToEdit.id}" name="userId">

                            <div>
                                <label class="form__label--edit-profile"  for="username">Username:</label>
                                <input class="form__input--edit-profile"  id="username" type="text" th:field="${userToEdit.username}" th:value="${userToEdit.username}" name="username">
                                <br />
                            </div>

                            <div>
                                <label class="form__label--edit-profile" for="email">Email:</label>
                                <input class="form__input--edit-profile"  id="email" type="text" th:field="${userToEdit.email}" th:value="${userToEdit.email}" name="email">
                                <br />
                            </div>

                            <div >
                                <label class="form__label--edit-profile" for="zipcode">Username:</label>
                                <input class="form__input--edit-profile"  id="zipcode" type="text" th:field="${userToEdit.zipcode}" th:value="${userToEdit.zipcode}" name="zipcode">
                                <br />
                            </div>


                        <div class="u-center-text u-margin-top-sm">

                            <img class="profile-img" th:src="${userToEdit.photo_url}" alt="profile image">

                            <button class="btn btn--white" id="imageButton">Change picture</button>
                        </div>
                    </div>

                    <div class="col-1-of-2 u-center-text u-margin-top-sm">
                        <div>
                            <label for="newImage"><img class="poi-img" id="imagePreview" src="" alt=""></label>
                            <input type="hidden" id="newImage" th:field="${userToEdit.photo_url}" th:value="${userToEdit.photo_url}" name="photo_url">
                        </div>
                        <div >
                            <label class="form__label--edit-profile" for="password">Enter password to update:</label>
                            <input class="form__input--edit-profile" id="password" type="password" th:field="${userToEdit.password}" th:value="${userToEdit.password}" name="password">
                            <br />
                        </div>
                        <div>
                            <input class="btn btn--white u-margin-top-sm" type="submit" value="Update"/>
                            <a class="btn btn--green u-margin-top-sm" href="/profile">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:include="partials/footer :: footer"></div>

<script src="/js/keys.js"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/js/filestack.js"></script>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>