<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('My Profile')">
    <meta charset="UTF-8">
    <title>My Profile</title>

</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<!--<div th:replace="partials/expand-nav :: navigation"></div>-->

<main>
    <div class="section-profile-edit">
        <div class="box">
            <div class="form">
                <form class="w-100" th:action="@{'/user/' + ${user.id} +'/editPassword'}" method="POST" th:object="${user}">
                    <div class="u-margin-bottom-md u-center-text">
                        <h2 class="heading-tertiary">Edit Profile:</h2>
                    </div>
                    <div class="row">
                        <div class="profile__password-edit">
                            <input type="hidden" id="userId" th:field="${user.id}" th:value="${user.id}" name="userId">
                            <div>
                                <label class="form__label--edit-profile paragraph" for="password">New Password:</label>
                                <input class="form__input--edit-profile paragraph" id="password" placeholder="Password" type="password" th:field="${user.password}" th:value="' ' + ${user.getPassword()}" name="password">
                                <br />
                            </div>

                            <div>
                                <label class="form__label--edit-profile paragraph" for="password_confirm">Confirm Password</label>
                                <input class="form__input--edit-profile paragraph" id="password_confirm" placeholder="Confirm Password" type="password" th:field="${user.password_confirm}" th:value="' ' + ${user.getPassword_confirm()}" name="password_confirm">
                                <br />
                            </div>

                            <div>
                                <input class="btn btn--white u-margin-y-md" type="submit" value="Update"/>
                                <a class="btn btn--green u-margin-y-sm" href="/profile">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>