<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="partials/head :: head('My Profile')">
        <meta charset="UTF-8">
        <title>My Profile</title>
    </head>

    <body>
        <nav th:replace="partials/navbar :: nav"></nav>
    <!--<div th:replace="partials/expand-nav :: navigation"></div>-->

        <main>
            <section class="section-profile">
                <div class="profile-box">
                    <div class="profile">
                        <div class="profile__info">
                            <figure class="profile__shape">
                                <span th:if="${user.photo_url == null}">
                                    <img src="images/profile.png" alt="placeholder image" class="profile__image">
                                </span>
                                <img th:src="${user.photo_url}" alt="profile image" class="profile__image">
                            </figure>
                            <div class="profile__text">
                                <h3 class="heading-tertiary u-margin-bottom-sm">Profile Information</h3>
                                <div class="profile__user">
                                    <hr />
                                    <br />
                                    <p class="heading-small">Username: <span th:text="${user.username}"/></p>
                                    <p class="heading-small">Email: <span th:text="${user.email}"/></p>
                                </div>
                            </div>
                            <div class="u-center-text u-margin-top-md">
                                <a th:href="@{'/user/' + ${#authentication.principal.id} + '/edit'}" class="btn btn--white u-margin-right-lg">Edit profile &rarr;</a>

                                <a th:href="@{'/user/' + ${#authentication.principal.id} + '/editPassword'}" class="btn btn--white">Edit password &rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-box">
                    <div class="profile">
                        <div class="profile__text">
                            <h3 class="heading-tertiary u-margin-bottom-sm">Your Routes</h3>
                            <table class="profile__table">
                                <thead>
                                <tr >
                                    <th class="profile__table--title">Title</th>
                                    <th class="profile__table--col">Distance</th>
                                    <th class="profile__table--col">Time</th>
                                    <th class="profile__table--description">Description</th>
                                    <th class="profile__table--colB"></th>
                                    <th class="profile__table--colB"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="route : ${routes}">
                                    <td class="profile__table--title" name="title"><a th:href="'/route/' + ${route.id}" th:text="${route.title}"></a></td>
                                    <td class="profile__table--col" th:text="${route.distance}" name="distance"></td>
                                    <td class="profile__table--col" th:text="${route.time}" name="time"></td>
                                    <td class="profile__table--description" th:text="${route.description}" name="description"></td>
                                    <td><a th:href="'/route/' + ${route.id} + '/edit'" class="btn btn-edit">Edit</a></td>
                                    <td>
                                        <form th:action="@{'/route/' + ${route.id} + '/delete'}" th:method="post">
                                        <button class="btn btn-edit">Delete</button>
                                    </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="profile-box">
                    <div class="profile">
                        <div class="profile__text">
                            <h3 class="heading-tertiary u-margin-bottom-sm">Your Points of Interest</h3>
                            <table class="profile__table">
                                <thead>
                                <tr >
                                    <th class="profile__table--title">Title</th>
                                    <th class="profile__table--description">Description</th>
                                    <th class="profile__table--colB"></th>
                                    <th class="profile__table--colB"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="poi : ${pois}" >
                                    <td class="profile__table--title" name="name"><a th:href="'/points/' + ${poi.id}" th:text="${poi.name}"></a></td>
                                    <td class="profile__table--description" th:text="${poi.description}" name="description"></td>
                                    <td><a th:href="'/points/' + ${poi.id} + '/edit'" class="btn btn-edit">Edit</a></td>
                                    <td>
                                        <form th:action="@{'/points/' + ${poi.id} + '/delete'}" th:method="post">
                                            <button class="btn btn-edit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="profile-box">
                    <div class="profile">
                        <div class="profile__text">
                            <h3 class="heading-tertiary u-margin-bottom-sm">Your Events</h3>
                                <table class="profile__table">
                                    <thead>
                                        <tr>
                                            <th class="profile__table--title">Title</th>
                                            <th class="profile__table--col">Date</th>
                                            <th class="profile__table--description">Description</th>
                                            <th class="profile__table--colB"></th>
                                            <th class="profile__table--colB"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="event : ${events}" >
                                            <td class="profile__table--title" name="name"><a th:href="'/event/' + ${event.id}" th:text="${event.name}"></a></td>
                                            <td class="profile__table--col" th:text="${event.date}" name="date"></td>
                                            <td class="profile__table--description" th:text="${event.description}" name="description"></td>
                                            <td><a th:href="'/event/' + ${event.id} + '/edit'" class="btn btn-edit">Edit</a></td>
                                            <td>
                                                <form th:action="@{'/event/' + ${event.id} + '/delete'}" th:method="post">
                                                    <button class="btn btn-edit">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <div th:include="partials/footer :: footer"></div>
        <div th:include="partials/scripts :: scripts"></div>

    </body>

</html>