<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="partials/head :: head('Register')">
        <meta charset="UTF-8">
        <title>Register</title>
    </head>

    <body onload="document.registerform.username.focus()">
        <nav th:replace="partials/navD :: nav"></nav>
        <img class="map__bg" src="/images/topo-bg.jpg" alt="">

        <main>
            <section class="section-box">
                <div class="box-register">
                    <div class="box__form">
                        <form name="registerform" class="form" th:action="@{/register}" method="POST" th:object="${user}">

                            <div class="u-margin-bottom-md">
                                <h2 class="heading-secondary">Create an account:</h2>
                            </div>

                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Username" id="username" name="username" required>
                                <label for="username" class="form__label"  th:field="*{username}"> </label>
                                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"/>
                            </div>

                            <div class="col-1-of-2">
                                <input type="email" class="form__input" placeholder="Email" id="email" name="email" required>
                                <label for="email" class="form__label" th:field="*{email}"> </label>
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"/>
                            </div>

                            <div class="col-1-of-2">
                                <input type="text" class="form__input" placeholder="Zipcode" id="zipcode" name="zipcode" required>
                                <label for="zipcode" class="form__label" th:field="*{zipcode}"> </label>
                            </div>

                            <div class="form__group">
                                <input type="password" class="form__input" placeholder="Password" id="password" name="password" required>
                                <label for="password" class="form__label" th:field="*{password}"> </label>
                            </div>

                            <div class="form__group">
                                <input type="password" class="form__input" placeholder="Confirm Password" id="password_confirm" name="password_confirm"
                                       required oninput="checkPasswordMatch(this);">
                                <label for="password_confirm" class="form__label" th:field="*{password_confirm}"> </label>
                            </div>

                            <div class="u-margin-top-sm u-margin-bottom-md">
                                <div>
                                    <input type="hidden" id="image" th:field="*{photo_url}" name="photo_url">
                                    <img id="imagePreview" src="" alt="" class="w-25">
                                    <button class="btn btn--white" id="imageButton">Add a Profile Picture</button>
                                </div>
                            </div>

                            <div class="form__group">
                                <button type="submit" class="btn btn--green">Sign up</button>
                                <p class="fs-3">Already have an account? Please <a href="/login">LOGIN</a></p>
                            </div>

                        </form>
                    </div>
                </div>
            </section>
        </main>

        <div th:include="partials/footer :: footer"></div>
        <script src="/js/keys.js"></script>
        <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        <script>
            function checkPasswordMatch(fieldConfirmPassword) {
                if (fieldConfirmPassword.value != $("#password").val()) {
                    fieldConfirmPassword.setCustomValidity("Passwords do not match!");
                } else {
                    fieldConfirmPassword.setCustomValidity("");
                }
            }
        </script>
        <script src="/js/filestack.js"></script>
        <div th:include="partials/scripts :: scripts"></div>

    </body>

</html>