<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="partials/head :: head('Change Password')">
        <meta charset="UTF-8">
        <title>Change Password</title>

    </head>
    <body>
        <nav th:replace="partials/navbar :: nav"></nav>
        <!--<div th:replace="partials/expand-nav :: navigation"></div>-->

        <main>
            <div class="section-profile-edit">
                <div class="box">
                    <div class="form">
                        <form class="w-100" th:action="@{'/user/' + ${user.id} +'/update-password'}" method="POST" th:object="${user}">
                            <div class="u-margin-bottom-md u-center-text">
                                <h2 class="heading-tertiary">Update Password:</h2>
                            </div>
                            <div class="profile__password-edit u-center-text">
                                <input type="hidden" id="userId" th:field="${user.id}" th:value="${user.id}" name="userId">
                                <div class="u-center-text">
                                    <p>
                                        <input type="password" name="password" id="password" class="form-control paragraph"
                                               placeholder="Enter your new password" required autofocus />
                                    </p>
                                    <p>
                                        <input type="password" name="password_confirm" class="form-control paragraph u-margin-bottom-md" placeholder="Confirm your new password" required />
                                    </p>
                                    <div class="u-center-text">
                                        <input type="submit" value="Update" class="btn btn--white u-margin-right-md" />
                                        <a class="btn btn--green" href="/profile">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <div th:include="partials/footer :: footer"></div>
        <div th:include="partials/scripts :: scripts"></div>
    </body>
</html>