<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Reset Password')">
    <meta charset="UTF-8">
    <title>Reset Password</title>

</head>
    <body>
        <div>
            <h2 class="heading-tertiary u-center-text">Reset Your Password</h2>
        </div>

        <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
            <input type="hidden" name="token" th:value="${token}" />
            <div class="border border-secondary rounded p-3">
                <div>
                    <p class="paragraph">
                        <input type="password" name="password" id="password" class="form-control"
                               placeholder="Enter your new password" required autofocus />
                    </p>
                    <p class="paragraph">
                        <input type="password" class="form-control" placeholder="Confirm your new password"
                               required oninput="checkPasswordMatch(this);" />
                    </p>
                    <p class="text-center paragraph">
                        <input type="submit" value="Change Password" class="btn btn-primary" />
                    </p>
                </div>
            </div>
        </form>
        <script>
            function checkPasswordMatch(fieldConfirmPassword) {
                if (fieldConfirmPassword.value != $("#password").val()) {
                    fieldConfirmPassword.setCustomValidity("Passwords do not match!");
                } else {
                    fieldConfirmPassword.setCustomValidity("");
                }
            }
        </script>
    </body>
</html>