<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Routes')">
    <meta charset="UTF-8">
    <title>Routes</title>
</head>

<link href="/css/">
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<main class="container">
    <h4>Create route</h4>
    <form class="row align-items-center" th:action="@{/routes/create}" th:method="POST" th:object="${route}">
        <div class="col-1-of-2">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
        </div>
        <div class="col-1-of-2">
            <label for="description" class="form-label">Description</label>
            <textarea type="description" class="form-control" id="description" name="description"  th:field="*{description}"></textarea>
        </div>
        <div class="col-1-of-2">
            <label for="distance" class="form-label" >Distance</label>
            <input type="text" class="form-control" id="distance" name="distance" th:field="*{distance}" readonly>
        </div>

        <input type="hidden" class="form-control" id="coordinates" name="coordinates" th:field="*{coordinates}">

        <div class="col-1-of-2">
            <label for="time" class="form-label" >time (Hours)</label>
            <input type="text" class="form-control" id="time" name="time" th:field="*{time}" readonly>
        </div>
        <div class="field">
            <div class="control">
                <input class="button btn" type="submit" value="Submit">
            </div>
        </div>
    </form>

    <input class="btn" type="button" id="clearBtn" name="clearBtn" value="Clear Route">
    <div id="map"></div>
    <h3 id="directions-panel"></h3>
    <p>
        <label>
            <input id="routeCheck" type="checkbox" />
            <span> Route end point matches start point</span>
        </label>
    </p>
    <input class="btn" type="button" id="testbtn" name="testbtn" value="Route">


</main>




<script src="/js/createRoute.js"></script>
<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>


</html>