<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="partials/head :: head('Sidecar')">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <nav th:replace="partials/navbar :: nav"></nav>
    <!--<div th:replace="partials/expand-nav :: navigation"></div>-->
        <main>
            <!-- Map w/ input fields and button to create -->
            <div class="map">
                <h3 class="heading-tertiary">Add a Route</h3>
                <div class="map-box">
                    <!-- Map -->
                    <section class="col-map-2">
                        <div class="map__input">
                            <div class="map__input--map-btn" id="floating-pane">
                                <input id="address" type="textbox" placeholder="Enter a location" />
                                <input id="submit" type="button" value="View Location" />
                            </div>
                            <div class="map__input--map-btn">
                                <p>
                                    <label>
                                        <input id="routeCheck" type="checkbox" />
                                        <span> Round Trip</span>
                                    </label>
                                </p>
                                <input class="btn-rt u-margin-right-sm" type="button" id="clearBtn" name="clearBtn" value="Clear Route">

                                <div class="field">
                                    <div class="control">
                                        <input class="btn-rt" type="button" id="testbtn" name="testbtn" value="See Route">
                                    </div>
                                </div>
                            </div>
                            <span th:text="${location}" hidden id="location"></span>
                            <div id="map"></div>
                        </div>
                        <div class="map__input">
                            <div class="map__input">
                                <p id="directions-panel"></p>
                            </div>
                        </div>
                    </section>

                    <section class="col-map-1">
                        <div class="map__input">
                            <h3>Route Info</h3>
                            <form class="map-data"  th:action="@{/routes/create}" th:method="POST" th:object="${route}">

                                <input class="map__input" type="text"  id="title" name="title" placeholder="Title" th:field="*{title}">

                                <textarea class="map__input-long" type="text" id="description" name="description" placeholder="Description" th:field="*{description}"></textarea>

                                <input class="map__input" type="text" id="distance" name="distance" placeholder="Distance" th:field="*{distance}" readonly>

                                <input type="hidden" class="form-control" id="coordinates" name="coordinates" th:field="*{coordinates}">

                                <input class="map__input" type="text" id="time" name="time"  placeholder="Time(Hours)" th:field="*{time}">
                                <div class="control u-margin-top-sm">
                                    <input class="btn btn--white" type="submit" value="Save Route">
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <div th:replace="partials/footer :: footer"></div>
        <script src="/js/createRoute.js"></script>
        <div th:replace="partials/scripts :: scripts"></div>

    </body>

</html>