<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="partials/head :: head('Sidecar')">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body onload="document.locationbox.locationinput.focus()">
        <nav sec:authorize="isAuthenticated()" th:replace="partials/navB :: nav"></nav>
        <nav sec:authorize="!isAuthenticated()" th:replace="partials/navA :: nav"></nav>
        <img class="map__bg" src="/images/topo-bg.jpg" alt="">
        <main class="map">
            <section class="map__heading">
                <h1 class="heading-primary--sub">All Routes</h1>
                <div>
                    <p sec:authorize="!isAuthenticated()" class="paragraph">Have a Route to share? Please <a th:href="@{/login}">Login</a> or
                        <a th:href="@{/register}">Register</a>.</p>
                    <a sec:authorize="isAuthenticated()" class="btn btn--green u-margin-bottom-sm" th:href="@{/routes/create}">Plot your Route</a>
                </div>
            </section>
            <section class="map-box">
                <div class="map__location justify-content-left">
                    <form name="locationbox">
                        <div id="floating-panel ">
                            <input class="map__input--textbox u-margin-right-sm" name="locationinput" id="address" type="textbox" placeholder="Enter a location" />
                            <input class="btn btn--map" id="submit" type="button" value="View Location" />
                        </div>
                    </form>
                </div>
                <span th:text="${location}" hidden id="location"></span>
                <div id="map"></div>
            </section>
        </main>

        <div th:replace="partials/footer :: footer"></div>
        <div th:replace="partials/scripts :: scripts"></div>
        <script src="/js/allRoutes.js"></script>
    </body>
</html>