//colors
$color-primary: #674A21;
$color-primary-light: #F7F0E0;
$color-primary-dark: #3F3622;
$color-login-light: #7C7306;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-darkest: #333;
$color-gray-darker: #777;
$color-gray-dark: #999;
$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1.6rem;

//grid
$grid-width: 125rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;