//colors
$color-primary: #674A21;
$color-primary-light: #BEB6A6;
$color-primary-dark: #3F3622;
$border-dark: #2F190D;
$color-delete: #A1272D;
$color-delete-dark: #4D1215;
$color-secondary-light: #8A7714;
$color-secondary-dark: #192304;

$color-tertiary-light: #FEC240;
$color-tertiary-dark: #9F6814;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-darkest: #111;
$color-gray-darker: #333;
$color-gray-dark: #555;
$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1.6rem;
$font-size-larger: 2.4rem;

//grid
$grid-width: 125rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;

$gutter-horizontal: 6rem;
$gutter-small: 3rem;